<div class="log-list" id="log-list">
  <ul>
    <% for(var i = 0, l = data.length; i < l; i++) { %>
      <li data-id="<%= data[i].id %>" class="<%= (!data[i].is_read ? 'log-unread' : '') %>">
        <div class="log-item-wrapper">
          <div class="log-info clear">
            <div class="log-badge development-badge"><%= data[i].badge %></div>
            <div class="log-time"><%= data[i].created_at %></div>
          </div>
          <h4><%= data[i].err %></h4>
        </div>
      </li>
    <% } %>
  </ul>
</div>